<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin_style2.css" />
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-apple" aria-hidden="true"></i>
                        </span>
                        <span class="title">
                            <h2>Brand Name</h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/api/admin/index">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li><a href="/api/admin/index2">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="title">Tables</span>
                    </a>
                </li>
                <li><a href="#" id="logout">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                    </label>
                </div>
                <div class="user">
                    <img src="/img/user.png" alt="">
                </div>
            </div>
            <div class="cardBox"></div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>ข้อมูลการใช้งาน</h2>
                        <select name="dropdown" id="tabledb">
                            <option value="roles">Roles</option>
                            <option value="cities">Cities</option>
                            <option value="keywords">Keywords</option>
                            <option value="weather_description">Weather Description</option>
                        </select>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Role</td>
                                <td>Action</td>
                                <td>TimeStamp</td>
                            </tr>
                        </thead>
                        <tbody id="adminLogTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main-->
    <script src="/javascript/adminLogout.js"></script>
    <script src="/javascript/adminRespon.js"></script>
    <script type="module" src="/javascript/mainAdmin2.js"></script>
</body>
</html>