<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin_style.css" />
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-apple" aria-hidden="true"></i>
                        </span>
                        <span class="title">
                            <h2>Brand Name</h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="title">Customer</span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
                        <span class="title">Message</span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li><a href="#">
                        <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <span class="title">Password</span>
                    </a>
                </li>
                <li><a href="#" id="logout">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle"></div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                    </label>
                </div>
                <div class="user">
                    <img src="/img/user.png" alt="">
                </div>
            </div>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers" id="user-num">...</div>
                        <div class="cardName">จำนวนผู้ใช้</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" id="server-cpu">...</div>
                        <div class="cardName">CPU</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-microchip" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" id="server-ram">...</div>
                        <div class="cardName">RAM</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-memory" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" id="server-disk">...</div>
                        <div class="cardName">DISK</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-hard-drive" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Star Refrigerator</td>
                                <td>$1200</td>
                                <td>Paid</td>
                                <td><span class="status delivered"> Delivered</span></td>
                            </tr>
                            <tr>
                                <td>Window Coolers</td>
                                <td>$110</td>
                                <td>Due</td>
                                <td><span class="status Pending"> Pending</span></td>
                            </tr>
                            <tr>
                                <td>Speakers</td>
                                <td>$620</td>
                                <td>Paid</td>
                                <td><span class="status return"> Return</span></td>
                            </tr>
                            <tr>
                                <td>Hp Laptop</td>
                                <td>$6000</td>
                                <td>Due</td>
                                <td><span class="status inprogress"> In progress</span></td>
                            </tr>
                            <tr>
                                <td>Apple Watch</td>
                                <td>$680</td>
                                <td>Delivered</td>
                                <td><span class="status delivered"> In progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>ผู้ใช้ทั้งหมด</h2>
                    </div>
                    <table></table>
                </div>
            </div>
        </div>
    </div>
    <!-- Sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main-->
    <script src="/javascript/adminLogout.js"></script>
    <script src="/javascript/adminRespon.js"></script>
    <script defer type="module" src="/javascript/mainAdmin.js"></script>
</body>
</html>